{% extends 'base.html.twig' %}

{% block title %}Liste des artistes - Symphonia{% endblock %}

{% block body %}
    <div>
        <h1>Liste des artistes</h1>
        {% if artists is empty %}
            <p>Aucun artiste trouvé.</p>
        {% else %}
            <ul>
                {% for artist in artists %}
                    <li>
                        <a href="{{ path('app_artist_details', {'id': artist.id}) }}">{{ artist.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}