{% extends 'base.html.twig' %}

{% block title %}Liste des artistes - Symphonia{% endblock %}

{% block body %}
    <div>
        <h1>Liste des artistes</h1>
        <form method="GET" action="">
            <label>Rechercer un artiste</label>
            <input type="text" name="artiste">
            <input type="submit" value="Recherer">
        </form>
        {% include 'partials/_new_artist.html.twig' %}

        {% if artists is empty %}
            <p>Aucun artiste trouvé.</p>
        {% else %}
            <ul>
                {% for artist in artists %}
                    <li>
                        <a href="{{ path('app_artist_details', {'id': artist.id}) }}">{{ artist.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
