{% extends 'base.html.twig' %}

{% block title %}Symphonia - Home{% endblock %}

{% block body %}
    <h1>Index</h1>
    {% if user %}
        {% include 'partials/_new_event.html.twig' %}
        {% include 'partials/_new_artist.html.twig' %}
        {% if participatedEvents|length > 0 %}
            <h3>Events inscrits : :</h3>
            <ul>
                {% for event in participatedEvents %}
                    <li>
                        <a href="{{ path('app_event_details', {'id': event.id}) }}">
                            {{ event.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You are not participating in any events yet.</p>
        {% endif %}
    {% else %}
        <p>Please log in to see your events.</p>
    {% endif %}
{% endblock %}