{% extends 'base.html.twig' %}

{% block title %}Symphonia - Home{% endblock %}

{% block body %}
    {% if user %}
        {% include 'partials/_new_event.html.twig' %}
        {% include 'partials/_new_artist.html.twig' %}
        {% if participatedEvents|length > 0 %}
            <h3>Vous êtes inscrits aux évènements suivants : </h3>
            <ul>
                {% for event in participatedEvents %}
                    <li>
                        <a href="{{ path('app_event_details', {'id': event.id}) }}">
                            {{ event.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Ne participez pas encore à un évènement</p>
        {% endif %}
        {% else %}

            <p>Vous n'êtes pas connecté</p>
    {% endif %}
{% endblock %}