{% extends 'base.html.twig' %}

{% block title %}Symphonia - Home{% endblock %}

{% block body %}
    <div>
        <h1>Hello</h1>
        <a href="{{ path('app_login')}}">Login to get the full experience</a>

    </div>
{% endblock %}
