* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(
            /*135deg,*/
            #410445 0%,
            #ff00ff 25%,
            #00ffff 75%
            /*#000000 100%*/
    );
    background-size: 200% 200%;
    animation: wave 10s ease infinite;
}

@keyframes wave {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #fff;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 2px solid #fff;
}

.container {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 25vh;
    height: 20vh;
}