# Default ignored files
/../../Symphonia /.idea/shelf/
/../../Symphonia /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Symphonia /.idea/httpRequests/
# Datasource local storage ignored files
/../../Symphonia /.idea/dataSources/
/../../Symphonia /.idea/dataSources.local.xml
